# fly.toml app configuration file generated for vintedbot-backend on 2025-11-09T13:08:55+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vintedbot-backend'
primary_region = 'cdg'

[build]

[env]
  PORT = '8001'
  ENV = 'production'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8001
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 100
    soft_limit = 80

[[services]]
  protocol = 'tcp'
  internal_port = 8001
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 100
    soft_limit = 80

[checks]
  [checks.health]
    port = 8001
    type = 'http'
    interval = '15s'
    timeout = '5s'
    grace_period = '30s'
    method = 'GET'
    path = '/health'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512

[mounts]
  source = "vintedbot_data"
  destination = "/app/backend/data"
